<a href="https://colab.research.google.com/github/alinasahoo/Python/blob/main/CSV_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CSV Files

In [1]:
import pandas as pd

dis ={"a":[1,2,3,4,5,6], "s":[1,2,3,4,5,6], "d":[1,2,3,4,5,6]}

d=pd.DataFrame(dis)

print(d)

d.to_csv("test_new.csv", index=False, header=[1,2,3]) # creates a csv file, with no index and header named 1,2,3

   a  s  d
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

Reading CSV Files

In [2]:
import pandas as pd

d = pd.read_csv("/content/test_new.csv") # Add the file path here

print(d)

   1  2  3
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6

In [3]:
d = pd.read_csv("/content/test_new.csv", nrows=1) #gets only the first row here

print(d)

   1  2  3
0  1  1  1

In [4]:
print(type(d))

<class 'pandas.core.frame.DataFrame'>

In [5]:
d = pd.read_csv("/content/test_new.csv", usecols = [0,1]) #gets the first & second column data here, using the index

print(d)

   1  2
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
5  6  6

In [6]:
d = pd.read_csv("/content/test_new.csv", skiprows=[0]) #skips the row at 0th index

print(d)

   1  1.1  1.2
0  2    2    2
1  3    3    3
2  4    4    4
3  5    5    5
4  6    6    6

In [7]:
d = pd.read_csv("/content/test_new.csv", index_col=[0]) #gets the 0th col value as an index

print(d)

   2  3
1
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6

In [8]:
d = pd.read_csv("/content/test_new.csv", header = 2) #gets the 2nd row as a header

print(d)

   2  2.1  2.2
0  3    3    3
1  4    4    4
2  5    5    5
3  6    6    6

In [9]:
d = pd.read_csv("/content/test_new.csv", names = ["Number1","Number2","Number3"]) #Header

print(d)

   Number1  Number2  Number3
0        1        2        3
1        1        1        1
2        2        2        2
3        3        3        3
4        4        4        4
5        5        5        5
6        6        6        6

In [10]:
d = pd.read_csv("/content/test_new.csv", header = None, prefix = "col") #assuming there is no header adds a header named col, with diff names
print(d)

   col0  col1  col2
0     1     2     3
1     1     1     1
2     2     2     2
3     3     3     3
4     4     4     4
5     5     5     5
6     6     6     6

<ipython-input-10-7b4004dcdd06>:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  d = pd.read_csv("/content/test_new.csv", header = None, prefix = "col") #gets only the first row here

In [11]:
d = pd.read_csv("/content/test_new.csv", dtype = {"2":"float"}) #gets the 2nd col value as float type

print(d)

   1    2  3
0  1  1.0  1
1  2  2.0  2
2  3  3.0  3
3  4  4.0  4
4  5  5.0  5
5  6  6.0  6