<a href="https://colab.research.google.com/github/alinasahoo/Python/blob/main/Pandas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Series - One Dimensional Array

In [2]:
import pandas as pd

x = [1,2,3,4,5,6,7,8]

var = pd.Series(x)
print(var)
print(type(var)) # checks if it series or not

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
print(var[2]) # prints the variable at index 2

3

In [4]:
# Changing the index

x = [2,3,4,5]
var = pd.Series(x,index =['a','b','c','d'], dtype = "float", name = "python")
print(var)
print(type(var))

a    2.0
b    3.0
c    4.0
d    5.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
# Dictionary

dic = {"name":['Python', 'C', 'C++', 'Java'], "por":[12,13,14,15], "rank":[1,4,3,2]}

var1 = pd.Series(dic)
var1

name    [Python, C, C++, Java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [6]:
s = pd.Series(12)

print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
s = pd.Series(12, index = [1,2,3,4,5,6,7])

print(s)
print(type(s))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
s1 = pd.Series(12, index = [1,2,3,4,5,6,7])
s2 = pd.Series(12, index = [1,2,3,4])

print(s1+s2) # No values after the 4th index for s2, hence NaN(Not a Number)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64