<a href="https://colab.research.google.com/github/alinasahoo/Python/blob/main/Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame

In [1]:
import pandas as pd

l = [1,2,3,4,5,6]

var = pd.DataFrame(l)

print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [2]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5]} # Arrays must be of the same length

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [3]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5], "d":[1,2,3,4,5], 1:[1,2,3,4,5]} # Arrays must be of the same length

var1 = pd.DataFrame(d, columns=["a",1])

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  1
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [4]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5], "d":[1,2,3,4,5], 1:[1,2,3,4,5]} # Arrays must be of the same length

var1 = pd.DataFrame(d, columns=["a",1], index=["a","s","d","f","g"])

print(type(var1))
print(var1)

<class 'pandas.core.frame.DataFrame'>
   a  1
a  1  1
s  2  2
d  3  3
f  4  4
g  5  5

In [5]:
d = {"a":[1,2,3,4,5], "s":[1,2,3,4,5], "d":[1,2,3,4,5], 1:[1,2,3,4,5]} # Arrays must be of the same length

var1 = pd.DataFrame(d)

print(type(var1))
print(var1)
print(var1["a"][3])

<class 'pandas.core.frame.DataFrame'>
   a  s  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
4

In [6]:
list_1 = [[1,2,3,4,5],[11,12,13,14,15]]

var2 = pd.DataFrame(list_1)

print(type(var2))
print(var2)

<class 'pandas.core.frame.DataFrame'>
    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [7]:
# Creating DataFrame using the series

sr = {"s":pd.Series([1,2,3,4]), "r":pd.Series([1,2,3,4])}

var3 = pd.DataFrame(sr)

print(type(var3))
print(var3)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  1
1  2  2
2  3  3
3  4  4