<a href="https://colab.research.google.com/github/alinasahoo/Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Output data to console:
print("Hello World")
print('Hello world') # single inverted comma also allowed

Hello World
Hello world

In [2]:
# Variables : lowercase names, there name should tell what they hold
my_message = "Hello World from variable"
print(my_message)

Hello World from variable

In [3]:
# Integer variable
x = 3
print(x)

3

In [4]:
# Decimal / Float variable
y = 3.05
print(y)

3.05

In [5]:
# We can use both "" quote and ''. e.g. if we want to write Bobby's world.
print("Bobby's World");

Bobby's World

In [6]:
new_message = "Bobby's World"
print(new_message)

Bobby's World

In [7]:
print('hello')
print('hee') # Unnecessary Indentation is not allowed

hello
hee

**Strings**

In [8]:
# Access a particular character using index
message = 'Hello Alina'
print(message[0]) # Prints H
print(message[0:5]) # Prints all characters from 0 to **4th** (not 5th) index i.e. Hello, 2nd number is not included in the range
print(message[:5]) # This will print same as it assumes first integer is 0
print(message[3:]) # Here it will consider the 2nd number to be the last index of string

H
Hello
Hello
lo Alina

In [9]:
message = "Hello Python"
print(message[0]) # first character of the string
print(message[0:5]) #prints from the 0th index to the end of the 5th index of the string.
print(message[:5]) #prints from the start to the fifth index of the string.
print(message[4:]) # This will start printing from the 4th index to the end of the string.

H
Hello
Hello
o Python

In [10]:
print(message.lower()) # Prints message in lower case
print(message.upper()) # Prints message in upper case
print(message.count("l")) # Counts the number of times a given string appears in message
print(message.count("Hello"))

hello python
HELLO PYTHON
2
1

In [11]:
print(message.lower()) #prints the message in the lower case
print(message.upper()) #prints the message in the upper case

hello python
HELLO PYTHON

In [12]:
print(message.count("o")) # Counts the no. of the times the string appears in the message
print(message.count("Python"))

2
1

In [13]:
print(message.find("l")) # Returns the first occurence of l character
print(message.find("Universe")) # returns -1 if nothing is found

message.replace("Python", "Colab") # Replaces all occurrences of Python with Colab

2
-1

'Hello Colab'

In [14]:
# Concatenate strings
message = "Hello" + " " + "World"
print(message)  #concatenates the strings

first_name = "Alina"
last_name = "Sahoo"
full_name = first_name + " " + last_name
print(full_name) #prints the name [concatenated]

# length of string
name = 'Alina'
print(len(name))

Hello World
Alina Sahoo
5

Integers and Float Values

In [15]:
num = 3 # Integer
num = 3.14 # Float / Decimal / Fraction

# Arithmetic operators
# Add:              3 + 2
# Subtract:         3 - 2
# Multiply:         3 * 2
# Divide:           3 / 2 (1.5)
# Floor division:   3 // 2 (1)
# Exponent:         3 ** 2 (3^2 = 9)
# Modulus:          3 % 2 = 1 (remainder)

print(3//2) # 1 [floor division]
print(3**4) # 3 ^ 4 (3 to the power 4)

1
81

In [16]:
# Checks if number is even or odd
print(3%2) # 1 therefore odd
print(4%2) # 0 therefore even

1
0

In [17]:
print(4%2) # 4 is divisible by 2, hence 0

0

In [18]:
print(5%2) # (5 is not divisible by 2, hence 1)

1

In [19]:
num = 200
num += 50 # equal to num = num + 50
print(num) # this will print 250

250

In [20]:
num = 100
num -= 50
print(num) # thiw will print 50, similar can be done for multiply divide

50

In [21]:
# Absolute
print(abs(-3.14)) # Will remove sign from any negative numbers

# Round
print(round(3.14)) # Round to nearest integer i.e. 3
print(round(3.79,1)) # Round to 1st digit of decimal i.e. 3.8

3.14
3
3.8

In [22]:
# Comparison operator
# Equal                     3 == 2      Single equal is assigment, double equal is equal to operator
# Not equal                 3 != 2
# Greater than              3 > 2
# Less than                 3 < 2
# Greater than or equal to  3 >= 2
# Less than or equal to     3 <= 2

print(3 == 2) # Will return false
num1 = 3
num2 = 5
print(num1 == num2) # Will return false
print(num >= num2) # Will return true

False
False
True

In [23]:
# Conversion from string to integer, CASTING

num_1 = '100'
num_2 = '200'

print(num_1 + num_2) # Will print 100200, this is string concatenation
print(int(num_1) + int(num_2)) # Will print 300, because we had casted to integer

100200
300

In [24]:
print(num_1 + num_2) #string concatenation

100200

In [25]:
print(int(num_1) + int(num_2)) # will print 100 + 200, since we type-casted it to integer

300

**LISTS/ARRAYS, TUPLES, SETS**

In [26]:
courses = ['Math', 'Science', 'Physics', 'Computers']

# Print list
print(courses)
print(len(courses)) # Prints length of list
print(courses[0]) # Prints the first object in the array i.e. Math
print(courses[3]) # Prints Computer
print(courses[0:2]) # Prints values at indices for 0, 1 (starts from 0 and ends one index before 2)

print(courses[-1]) # Last item of the list, or we can courses[len(courses)-1]
print(courses[:2]) # Will assume start is at 0
print(courses[2:]) # Will assume ending index is last

['Math', 'Science', 'Physics', 'Computers']
4
Math
Computers
['Math', 'Science']
Computers
['Math', 'Science']
['Physics', 'Computers']

In [27]:
# Modify list

courses.append('Bio') # Will add bio at the end of the ilst. ['Math', 'Science', 'Physics', 'Computers', 'Bio']
courses.insert(1, 'English') # Inserts English at the 1st index. ['Math', 'English', 'Science', 'Physics', 'Computers', 'Bio']
print(courses)

courses_2 = ["Hindi", "Sanskrit"]
courses.insert(0, courses_2) # Adds the entire array as an element : [['Hindi', 'Sanskrit'], 'Math', 'English', 'Science', 'Physics', 'Computers', 'Bio']
print(courses) # Adds the entire array [['Hindi', 'Sanskrit'], 'Math', 'English', 'Science', 'Physics', 'Computers', 'Bio']
courses.extend(courses_2) # Used to add a list to the list end, ['Math', 'English', 'Science', 'Physics', 'Computers', 'Bio', 'Hindi', 'Sanskrit']
print(courses)

courses.remove('Math') # Will remove once instances of Math
print("After remove", courses)

arr = [1, 2, 3, 4]
arr.pop() # Remove last value from list, this returns the value it removed

arr_2 = [10, 20, 30]
num = arr_2.pop()
print(num) # Prints 30 which is the last element in the list

['Math', 'English', 'Science', 'Physics', 'Computers', 'Bio']
[['Hindi', 'Sanskrit'], 'Math', 'English', 'Science', 'Physics', 'Computers', 'Bio']
[['Hindi', 'Sanskrit'], 'Math', 'English', 'Science', 'Physics', 'Computers', 'Bio', 'Hindi', 'Sanskrit']
After remove [['Hindi', 'Sanskrit'], 'English', 'Science', 'Physics', 'Computers', 'Bio', 'Hindi', 'Sanskrit']
30

In [28]:
# Sort

arr = [10, 20, 1, -10, 2000, -10000, 0, 5]
arr.sort() # Used to sort the array

print(arr) # [-10000, -10, 0, 1, 5, 10, 20, 2000]

arr_2 = ["aaa", "zzz", "ccc", "def", "hjk"]
arr_2.sort()
print(arr_2) # ['aaa', 'ccc', 'def', 'hjk', 'zzz']

# Sort in descending order
arr.sort(reverse=True) # [2000, 20, 10, 5, 1, 0, -10, -10000]
print(arr)

# Reverse
la = [10, 20, 10000, 0, 500]
la.reverse()
print(la)

# Descending sort can also be done by .sort() and then .reverse() on the array;

# Min / Max / Sum of list: Works on both integers and strings (sum is not for strings)
print(min(arr)) # -10000
print(max(arr_2)) # zzz

arr_3 = [1, 2, 3]
print(sum(arr_3)) # 6

# Find a certain value in the list
arr_4 = [1, 20, 1, 500, 600, 10000, -123]
print(arr_4.index(500)) # 3

# COMMENTING THIS OUT SINCE THIS WILL THROW AN ERROR
# print(arr_4.index(100000000)) # We get an error that value is not in list


# Check if value is in list
print(4 in arr_4) # Returns False since 4 is not in the list

[-10000, -10, 0, 1, 5, 10, 20, 2000]
['aaa', 'ccc', 'def', 'hjk', 'zzz']
[2000, 20, 10, 5, 1, 0, -10, -10000]
[500, 0, 10000, 20, 10]
-10000
zzz
6
3
False

In [29]:
# Looping on array elements

arr = [1, 10, 2, 500]

for x in arr:
  print(x)

courses = ['English', 'Math', 'Science']
courses_str = ', '.join(courses) # Convert the array into a string, where the values are separated by ,. THIS WORKS FOR STRING LIST ONLY
print(courses_str) # English, Math, Science

# Splitting a string into array
new_list = courses_str.split(', ')
print(new_list) # We will get the original list back

1
10
2
500
English, Math, Science
['English', 'Math', 'Science']

In [30]:
# Tuples are similar to lists just that we can't modify a tuple i.e. they are immutable

arr = (10, 200, 1000) # We use paranthesis () instead of [] for creating tuple
print(arr)

# arr.append(40) # this is not allowed COMMENTING THIS OUT SINCE THIS IS NOT ALLOWED

# Apart from mutation all other operations are same as that of list: i.e. finding max, min, sum, printing elements in array.
# Sort, Reverse are not supported.
# We use tuple when we do not need to support mutations once the array is built.

(10, 200, 1000)

In [31]:
# Sets: They are similar to list but they do not contain duplicate elements, this allows mutations.
# We use a set for searching or getting rid of duplicates.

courses = {"English", "English", "English", "Math"}
print(courses) # Prints {'Math', 'English'} i.e. English only appears once irrespestive of how many times we insert it
# The order of insertion is also not maintained. See the output it is Math, English but we inserted English and then Math.

arr = {30, 20, 10, 20, 20, 50}
print(arr) # {10, 20, 50, 30}


set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 3, 4, 7, 8}

print(set_1.union(set_2)) # {1, 2, 3, 4, 5, 7, 8} does union of both the sets
print(set_1.intersection(set_2)) # {2, 3, 4}
print(set_1.difference(set_2)) # Prints those elemnts which are in set 1 but not in set 2 i.e. {1, 5}

{'English', 'Math'}
{10, 20, 50, 30}
{1, 2, 3, 4, 5, 7, 8}
{2, 3, 4}
{1, 5}

In [32]:
# Create empty list
arr = []
arr = list()


# Create empty tuple
arr_2 = ()
arr_2 = tuple()

# Create empty set
arr_e = {} # This is wrong, this will create a dictionary
arr_3 = set()

**DICTIONARY**

In [33]:
student = {} # Start a dictionary

student = {'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English']}
print(student) # {'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English']}

print(student['name']) # Specify the value which is to be accessed, prints John
print(student['courses']) # ['Math', 'Science', 'English']

# key, value can be anything i.e. string, integer, float anything.

dict_1 = {1: "John", 20: "Naman", 30: "Haily"}
print(dict_1[30])

# If the key is not present in the dictionary it will throw an error.
# Therefore we use the get method.
print(dict_1.get('Hello')) # Returns None i.e. the key doesn't exist.

# We can specify the default value for keys that don't exist
print(dict_1.get('Hello', 'Not Found')) # Prints Not Found.

# Add new entries to our dictionary
student['phone'] = '9898989898'
print(student) # {'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '9898989898'}

# If we set it again then it will update the value corresponding to the key.
student['phone'] = '123456789'
print(student) # {'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '123456789'}

# Delete a key
del student['name'] # deletes student key
print(student) # {'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '123456789'}

print(len(student)) # returns length of map
print(student.keys()) # returns list of all keys in the dictionary dict_keys(['age', 'courses', 'phone'])
print(student.values()) # returns list of all values in the dictionary dict_values([25, ['Math', 'Science', 'English'], '123456789'])
print(student.items()) # returns the key, value both dict_items([('age', 25), ('courses', ['Math', 'Science', 'English']), ('phone', '123456789')])

# Looping through a map

for key in student: # this will only print key
  print(key)

for key, value in student.items(): # this will print key and value both
  print(key, value)

{'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English']}
John
['Math', 'Science', 'English']
Haily
None
Not Found
{'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '9898989898'}
{'name': 'John', 'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '123456789'}
{'age': 25, 'courses': ['Math', 'Science', 'English'], 'phone': '123456789'}
3
dict_keys(['age', 'courses', 'phone'])
dict_values([25, ['Math', 'Science', 'English'], '123456789'])
dict_items([('age', 25), ('courses', ['Math', 'Science', 'English']), ('phone', '123456789')])
age
courses
phone
age 25
courses ['Math', 'Science', 'English']
phone 123456789

IF ELSE

In [34]:
language = 'Java'

if language == 'Python':
  print("Language is python")
elif language == 'Java':
  print("Language is Java")
elif language == 'Javascript':
  print("Language is Javascript")
else:
  print("No match found")

Language is Java

Conditionals In Python

In [35]:
# Comparisons:
# Equal:            ==
# Not Equal:        !=
# Greater Than:     >
# Less Than:        <
# Greater or Equal: >=
# Less or Equal:    <=
# Object Identity:  is

#AND
#OR
#NOT

user = 'Admin'
logged_in = False

if user == 'Admin' and logged_in: #both the conditions needs to be evaluated
  print("Admin Page")
else:
  print("Bad Credentials")

Bad Credentials

In [36]:
#OR Operator

user = 'Admin'
logged_in = False

if user == 'Admin' or logged_in: # Any one of the conditions needs to be evaluated
  print("Admin Page") # this gets printed in the result tab
else:
  print("Bad Credentials")

Admin Page

In [37]:
#NOT Operator

user = 'Admin'
logged_in = False

if not logged_in:
  print("Please Log In")
else:
  print("Welcome")

Please Log In

In [38]:
a = [1,2,3]
b = [1,2,3]

print(a==b)

True

In [39]:
a = [1,2,3]
b = [1,2,3]

print(id(a)) # prints the id of the object a
print(id(b)) # prints the id of the object b
print(a is b) # two different objects so false

136129714687360
136129714607360
False

In [40]:
a = [1,2,3]
b = a

print(id(a)) # prints the id of the object a
print(id(b)) # prints the id of the object b
print(a is b) # this evaluates to true as the id of both the objects are same.

136129714480704
136129714480704
True

In [41]:
a = [1,2,3]
b = a

print(id(a)) # prints the id of the object a
print(id(b)) # prints the id of the object b
print(a == b)
print(id(a) == id(b))

136129714502080
136129714502080
True
True

In [42]:
# False Values:
    # False
    # None
    # Zero of any numeric type
    # Any empty sequence. For example, '', (), [].
    # Any empty mapping. For example, {}.

# False
condition = False

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # returns this as designated output, false

Evaluated to false

In [43]:
# None

condition = None

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # None evaluates to false

Evaluated to false

In [44]:
# Zero of any numeric type

condition = 0

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # 0 evaluates to false, unlike any other numeric data

Evaluated to false

In [45]:
# Any empty sequence. For example, '', (), [].

condition = ''

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # '' evaluates to false

Evaluated to false

In [46]:
# Any empty sequence. For example, '', (), [].

condition = ()

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # () evaluates to false

Evaluated to false

In [47]:
# Any empty sequence. For example, '', (), [].

condition = []

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # [] evaluates to false

Evaluated to false

In [48]:
# Any empty mapping. For example, {}.

condition = {}

if condition:
  print("Evaluated to true")
else:
  print("Evaluated to false") # {} evaluates to false

Evaluated to false